<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache" />
    <title>Centro RH soluciones en recursos humanos - Centro RH</title>

    <meta name="robots" content="index, follow">
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Centro RH">
    <meta name="Description" content="Soluciones en recursos humanos - Centro RH." />
    <meta name="keywords" content="centro rh,centro.rh,rh outsourcing,rh logo,centro skips,business process outsourcing,centro form,rh soluciones,www rh com,rh recursos humanos" />
    <!-- Open Graph data -->
    <meta property="og:title" content="Centro RH soluciones en recursos humanos" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.centrorh.com.mx/" />
    <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
    <meta property="og:description" content="Soluciones en recursos humanos - Centro RH." />
    <meta name="theme-color" content="#dc2b60">
    <meta name="msapplication-navbutton-color" content="#dc2b60">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://www.centrorh.com.mx/">
</head>

<body>
    <div class="main">
        <div class="header">
            <img class="logo" src="<%= require('./src/assets/logo.png') %>" alt="Centro RH Logo">
            <div class="texto">
                <h2>Estamos en:</h2>
                <a href="https://www.facebook.com/Centro-RH-561850904182427/" target="_blank">
                    <img class="iconSocial" src="<%= require('./src/assets/facebook.png') %>" alt="Centro RH Facebook">
                </a>
                <a href="https://www.linkedin.com/company/33202361/" target="_blank">
                    <img class="iconSocial" src="<%= require('./src/assets/linkedin.png') %>" alt="Centro RH Linkedin">
                </a>
            </div>
        </div>
        <div class="content">
            <h1>El sitio estará listo pronto</h1>
            <div class="progreso">
                <span>0%</span>
                <progress id="bar" max="100" value="80" class="html5"></progress>
                <span>100%</span>
            </div>
        </div>
        <div class="footer">
            <a href="https://www.linkedin.com/feed/hashtag/?keywords=%23mu%C3%A9veteacentro" target="_blank">
                <h2><span>#</span>muévete<span>a</span>centro</h2>
            </a>
        </div>
    </div>

    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101423651-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-101423651-2');
    </script> -->
</body>

</html>